{% extends 'base.html' %}

{% block head %}
    <title>Pdf Analyzer | Admin Panel</title>
{% endblock %}

{% block home %}
    <a class="navbar-brand p-sm-3" href="/admin-panel">Home</a>
{% endblock %}

{% block content %}
    <div>

        <h2>User List</h2>

        <a href="user/create">Create</a>

        {% for user in users %}
            <div>
                <a href="{% url 'user-panel' user.id %}">{{ user.username }}</a>

                <a href="{% url 'user-delete' user.id %}">Delete</a>
                <a href="{% url 'user-update' user.id %}">Update</a>
            </div>
        {% endfor %}


    </div>
{% endblock %}