{% extends 'base.html' %}

{% block head %}
    <title>Pdf Analyzer | Create Document</title>
{% endblock %}

{% block home %}
    <a class="navbar-brand p-sm-3" href="{% url 'user-home' user_id %}">Home</a>
    <a class="navbar-brand p-sm-3" href="{% url 'query1-home' user_id %}">Query 1</a>
    <a class="navbar-brand p-sm-3" href="{% url 'query2-home' user_id %}">Query 2</a>
{% endblock %}

{% block content %}
    <div>

        <h2>Upload Document</h2>

        {{ formset.errors }}
        {{ formset.non_field_errors }}

        <form class="text-center mb-5" method="post" enctype=multipart/form-data>
            {% csrf_token %}
            {{ pdf_form.as_p }}
            <button class="btn bg-dark text-light  p-1 me-4" type="submit">Upload</button>
        </form>

    </div>
{% endblock %}