{% extends 'base.html' %}

{% block head %}
    <title>Pdf Analyzer | Create Document</title>
{% endblock %}

{% block home %}
    <a class="navbar-brand p-sm-3" href="{% url 'user-panel' user_id %}">Home</a>
{% endblock %}

{% block content %}
    <div>

        <h2>Upload Document</h2>

        {{ formset.errors }}
        {{ formset.non_field_errors }}

        <form method="post" enctype=multipart/form-data>
            {% csrf_token %}
            {{ pdf_form.as_p }}
            <button type="submit">Upload</button>
        </form>

    </div>
{% endblock %}