{% extends 'base.html' %}

{% block head %}
    <title>Pdf Analyzer | Document Detail</title>
{% endblock %}

{% block home %}
    <a class="navbar-brand p-sm-3" href="{% url 'user-home' user_id %}">Home</a>
    <a class="navbar-brand p-sm-3" href="{% url 'query1-home' user_id %}">Query 1</a>
    <a class="navbar-brand p-sm-3" href="{% url 'query2-home' user_id %}">Query 2</a>
{% endblock %}

{% block content %}

    <h1 class="text-center fw-bold">Document Detail</h1>
    <div class="text-center">
        <br>
        <p ><em><strong>Title:</strong> </em>{{ title.0.content }}</p>
        <hr>

        <br>
        <p><em><strong>Course Name:</strong> </em> {{ course_name.0.content }}</p>
        <hr>

        <br>
        <p><em><strong>Semester:</strong> </em> {{ semester.0.content }}</p>
        <hr>


        <h2 class="text-center fw-bold">Summary: </h2>
        <br>
        <p>{{ summary.0.content }}</p>
        <hr>


        <h2 class="text-center fw-bold">Keywords: </h2>
        <br>
        <ul>
            {% for keyword in keywords %}
                <li>{{ keyword.content }} </li>
            {% endfor %}
        </ul>
        <hr>


        <h2 class="text-center fw-bold">Authors: </h2>
        <br>
        {% for author in authors %}
            <div>
                <p><em><strong>Name:</strong> </em>{{ author.name }}</p>
                <p><em><strong>Last Name:</strong></em> {{ author.last_name }}</p>
                <p><em><strong>Student Number:</strong></em> {{ author.student_number }}</p>
                <p><em><strong>Education Type:</strong></em> {{ author.education_type }}</p>
                <hr>
            </div>
        {% endfor %}


        <h2 class="text-center fw-bold">Mentors: </h2>
        <br>
        {% for mentor_info in mentor_infos %}
            <div>
                <p><em><strong>Name:</strong></em> {{ mentor_info.name }}</p>
                <p><em><strong>Last Name:</strong></em> {{ mentor_info.last_name }}</p>
                <p><em><strong>Title:</strong></em> {{ mentor_info.title }}</p>
                <hr>
            </div>
        {% endfor %}

        <h2 class="text-center fw-bold">Jury: </h2>
        <br>
        {% for jury_info in jury_infos %}
            <div>
                <p><em><strong>Name:</strong></em> {{ jury_info.name }}</p>
                <p><em><strong>Last Name:</strong> </em> {{ jury_info.last_name }}</p>
                <p><em><strong>Title:</strong> </em> {{ jury_info.title }}</p>
                <hr>
            </div>

        {% endfor %}

    </div>
{% endblock %}