{% extends 'base.html' %}

{% block head %}
    <title>Pdf Analyzer | Document Detail</title>
{% endblock %}

{% block home %}
    <a class="navbar-brand p-sm-3" href="{% url 'user-home' user_id %}">Home</a>
    <a class="navbar-brand p-sm-3" href="{% url 'query1-home' user_id %}">Query 1</a>
{% endblock %}

{% block content %}

    <h1>Document Detail</h1>
    <div>
        <p><em>Title: </em>{{ title.0.content }}</p>
        <hr>

        <p><em>Course Name:</em> {{ course_name.0.content }}</p>
        <hr>

        <p><em>Semester:</em> {{ semester.0.content }}</p>
        <hr>

        <h2>Summary: </h2>
        <p>{{ summary.0.content }}</p>
        <hr>

        <h2>Keywords: </h2>
        <ul>
            {% for keyword in keywords %}
                <li>{{ keyword.content }} </li>
            {% endfor %}
        </ul>
        <hr>

        <h2>Authors: </h2>
        {% for author in authors %}
            <div>
                <p><em>Name: </em>{{ author.name }}</p>
                <p><em>Last Name:</em> {{ author.last_name }}</p>
                <p><em>Student Number:</em> {{ author.student_number }}</p>
                <p><em>Education Type:</em> {{ author.education_type }}</p>
                <hr>
            </div>
        {% endfor %}

        <h2>Mentors: </h2>
        {% for mentor_info in mentor_infos %}
            <div>
                <p><em>Name:</em> {{ mentor_info.name }}</p>
                <p><em>Last Name:</em> {{ mentor_info.last_name }}</p>
                <p><em>Title:</em> {{ mentor_info.title }}</p>
                <hr>
            </div>
        {% endfor %}

        <h2>Jury: </h2>
        {% for jury_info in jury_infos %}
            <div>
                <p><em>Name:</em> {{ jury_info.name }}</p>
                <p><em>Last Name:</em> {{ jury_info.last_name }}</p>
                <p><em>Title:</em> {{ jury_info.title }}</p>
                <hr>
            </div>

        {% endfor %}

    </div>
{% endblock %}