{% extends 'base.html' %}

{% block head %}
    <title>Pdf Analyzer | User Panel</title>
{% endblock %}

{% block home %}
    <a class="navbar-brand p-sm-3" href="{% url 'user-panel' user_id %}">Home</a>
{% endblock %}

{% block content %}

    <h2>User Panel</h2>
    <div>

        <a href="{% url 'document-create' user_id %}">Upload Document(Pdf)</a>

        {% for document in documents %}

            <div>
                <a>Document: {{ document.document.name }}</a>
                <a href="{% url 'document-delete' user_id document.id %}">Delete</a>
            </div>

        {% endfor %}

    </div>
{% endblock %}