{% extends 'base.html' %}

{% block head %}
    <title>Pdf Analyzer | User Home</title>
{% endblock %}

{% block home %}
    <a class="navbar-brand p-sm-3" href="{% url 'user-home' user_id %}">Home</a>
    <a class="navbar-brand p-sm-3" href="{% url 'query1-home' user_id %}">Query 1</a>
{% endblock %}

{% block content %}

    <h2>User Panel</h2>
    <div>

        <a href="{% url 'document-create' user_id %}">Upload Document(Pdf)</a>

        {% for document in documents %}

            <div>
                <a href="{% url 'document-detail' user_id document.id %}">Document: {{ document.document }}</a>
                <a href="{% url 'document-delete' user_id document.id %}">Delete</a>
            </div>

        {% endfor %}

    </div>
{% endblock %}